In [1]:
import pandas as pd
df=pd.read_csv('Chapter2_Shale_Gas_Wells_DataSet.csv')

In [2]:
df=df.describe()
df.to_csv('Shale Gas Wells Description.csv', index=False)

In [3]:
pwd

'C:\\Users\\Hoss\\OneDrive\\Desktop\\Surface Laptop\\Machine Learning (ML) Bible with Python\\Final Codes Submitted to Elsevier\\Chapter 2\\Data Import'

In [4]:
df2=pd.read_excel('Chapter2_Shale_Gas_Wells_DataSet.xlsx', sheet_name='Shale Gas Wells')

In [5]:
df2=df2.describe()
df2.to_excel('Excel_Output.xlsx', sheet_name='New_Sheet')

In [6]:
df3=pd.read_html('https://www.eia.gov/dnav/ng/hist/n9190us3m.htm')
df3

[                                                   0
 0  View History: Monthly Annual Download Data (XL...
 1  U.S. Natural Gas Wellhead Price (Dollars per T...,
                               0                         1
 0  View History: Monthly Annual  Download Data (XLS File),
                               0
 0  View History: Monthly Annual,
                0   1        2   3       4
 0  View History: NaN  Monthly NaN  Annual,
       Year   Jan   Feb   Mar   Apr   May    Jun    Jul   Aug   Sep    Oct  \
 0   1973.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 1   1974.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 2      NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 3   1975.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 4   1976.0  0.54  0.54  0.54  0.55  0.55   0.58   0.58  0.60  0.60   0.62
 5   1977.0  0.67  0.71  0.75  0.77  0.77   0.82   0.83  0.82  0.83   0.84
 6   1978.0  0.87  0.88  0.89  0.88  0.91   0.91   0.89  0.91  0.92   0.92
 7   1979.0  1.02  1.05  1.10  1.11  1.15   1.17   1.20  1.24  1.24   1.28
 8      NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 9   1980.0  1.37  1.42  1.46  1.51  1.56   1.57   1.64  1.64  1.69   1.71
 10  1981.0  1.77  1.81  1.86  1.93  1.95   1.95   2.01  2.02  2.08   2.11
 11  1982.0  2.23  2.30  2.35  2.40  2.45   2.45   2.47  2.53  2.56   2.60
 12  1983.0  2.66  2.66  2.58  2.53  2.53   2.59   2.52  2.58  2.67   2.58
 13  1984.0  2.67  2.71  2.67  2.64  2.67   2.70   2.68  2.69  2.62   2.63
 14     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 15  1985.0  2.64  2.71  2.62  2.64  2.53   2.58   2.51  2.47  2.42   2.37
 16  1986.0  2.28  2.26  2.16  2.10  1.96   1.85   1.80  1.77  1.78   1.73
 17  1987.0  1.74  1.73  1.73  1.69  1.65   1.65   1.66  1.63  1.56   1.57
 18  1988.0  1.96  1.84  1.70  1.59  1.52   1.53   1.56  1.62  1.53   1.68
 19  1989.0  1.99  1.81  1.69  1.56  1.61   1.65   1.65  1.61  1.55   1.58
 20     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 21  1990.0  2.23  1.85  1.55  1.49  1.47   1.48   1.49  1.51  1.56   1.76
 22  1991.0  1.96  1.62  1.49  1.50  1.48   1.43   1.34  1.43  1.59   1.82
 23  1992.0  1.74  1.26  1.35  1.42  1.51   1.62   1.55  1.84  1.92   2.38
 24  1993.0  2.03  1.76  2.00  2.06  2.18   1.98   1.99  2.04  2.09   2.02
 25  1994.0  1.93  1.88  1.93  1.91  2.00   1.80   1.81  1.83  1.78   1.70
 26     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 27  1995.0  1.62  1.48  1.47  1.52  1.55   1.58   1.43  1.43  1.52   1.54
 28  1996.0  2.05  1.89  1.95  2.08  2.01   2.08   2.25  2.10  1.85   1.94
 29  1997.0  3.40  2.49  1.79  1.81  2.00   2.08   2.00  2.08  2.33   2.68
 30  1998.0  1.96  1.96  2.06  2.16  2.04   1.91   2.09  1.82  1.70   1.86
 31  1999.0  1.85  1.77  1.70  1.90  2.17   2.14   2.20  2.51  2.62   2.52
 32     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 33  2000.0  2.60  2.73  2.66  2.86  3.04   3.77   3.84  3.73  4.26   4.58
 34  2001.0  6.82  5.08  4.37  4.52  4.36   3.79   3.35  3.33  2.93   2.78
 35  2002.0  2.50  2.19  2.40  2.94  2.94   2.96   2.92  2.76  2.97   3.24
 36  2003.0  4.43  5.05  6.96  4.47  4.77   5.41   5.08  4.46  4.59   4.32
 37  2004.0  5.21  5.02  5.12  5.03  5.40   5.82   5.62  5.52  5.06   5.43
 38     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 39  2005.0  5.80  5.73  5.95  6.57  6.25   6.09   6.71  6.48  8.95  10.33
 40  2006.0  8.01  6.85  6.43  6.37  6.23   5.77   5.91  6.55  6.06   5.09
 41  2007.0  5.70  6.80  6.65  6.26  6.75   6.62   6.21  5.76  5.30   5.78
 42  2008.0  7.38  8.02  8.63  8.87  9.96  10.36  10.79  8.21  6.71   5.64
 43  2009.0  4.60  3.70  3.38  3.18  3.23   3.38   3.45  3.37  2.98   3.83
 44     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 45  2010.0  5.69  5.30  4.70  4.10  4.24   4.27   4.44  4.38  3.83   4.05
 46  2011.0  4.37  4.34  3.95  4.05  4.12   4.20   4.27  4.20  3.82   3.62
 47  2012.0  2.89  2.46  2.25  1.89  1.94   2.54   2.59  2.86  2.71   3.03
 48  2013.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 49  2014.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 50     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 51  2015.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 52  2016.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 53  2017.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 54  2018.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 55  2019.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 56     NaN   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN
 57  2020.0   NaN   NaN   NaN   NaN   NaN    NaN    NaN   NaN   NaN    NaN

      Nov   Dec
 0    NaN   NaN
 1    NaN   NaN
 2    NaN   NaN
 3    NaN   NaN
 4   0.63  0.64
 5   0.83  0.84
 6   0.93  0.96
 7   1.29  1.31
 8    NaN   NaN
 9   1.76  1.74
 10  2.15  2.16
 11  2.62  2.62
 12  2.60  2.61
 13  2.61  2.57
 14   NaN   NaN
 15  2.36  2.28
 16  1.77  1.76
 17  1.64  1.70
 18  1.76  1.89
 19  1.66  1.92
 20   NaN   NaN
 21  1.94  2.04
 22  1.89  2.00
 23  2.13  2.07
 24  2.03  2.15
 25  1.75  1.88
 26   NaN   NaN
 27  1.61  1.84
 28  2.50  3.26
 29  2.92  2.28
 30  1.94  1.95
 31  2.68  2.24
 32   NaN   NaN
 33  4.40  5.77
 34  3.41  3.42
 35  3.59  3.96
 36  4.26  4.76
 37  6.21  6.01
 38   NaN   NaN
 39  9.89  9.08
 40  6.71  6.76
 41  6.46  6.87
 42  5.23  5.94
 43  4.20  4.66
 44   NaN   NaN
 45  4.12  4.68
 46  3.35  3.14
 47  3.35  3.35
 48   NaN   NaN
 49   NaN   NaN
 50   NaN   NaN
 51   NaN   NaN
 52   NaN   NaN
 53   NaN   NaN
 54   NaN   NaN
 55   NaN   NaN
 56   NaN   NaN
 57   NaN   NaN  ,
                                                    0
 0  - = No Data Reported; -- = Not Applicable; NA ...,
                               0
 0       Release Date: 2/26/2021
 1  Next Release Date: 3/31/2021]

In [7]:
# Allows to create a very simple sequel engine in memory
from sqlalchemy import create_engine

In [8]:
# Create a very temporarily sequel light engine 
engine= create_engine('sqlite:///:memory:')

In [9]:
df.to_sql('my_table', engine)

In [10]:
sqldf= pd.read_sql('my_table',con=engine)

In [11]:
sqldf

,index,Stage Spacing,bbl/ft,Well Spacing,Dip,Thickness,Lateral Length,Injection Rate,Porosity,ISIP,Water Saturation,Percentage of LG,Pressure Gradient,Proppant Loading,EUR
0,count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
1,mean,147.640316,35.134387,820.158103,0.069170,162.365613,8153.086957,63.079051,7.337549,7010.490119,19.213439,64.845455,0.930257,2567.065217,12.845455
2,std,18.392128,10.533197,135.736986,0.253994,15.471044,942.393981,7.250106,0.749451,1211.452205,3.198579,18.427813,0.046507,413.792220,3.067064
3,min,140.000000,30.000000,650.000000,0.000000,120.000000,4500.000000,55.000000,5.500000,5000.000000,15.000000,15.000000,0.750000,1100.000000,7.000000
4,25%,140.000000,30.000000,700.000000,0.000000,153.000000,7617.750000,57.000000,6.600000,5000.000000,16.800000,55.900000,0.940000,2317.500000,11.000000
5,50%,141.000000,30.000000,800.000000,0.000000,165.000000,8051.000000,61.000000,7.500000,7643.000000,17.700000,69.900000,0.950000,2642.000000,12.400000
6,75%,148.000000,36.000000,900.000000,0.000000,176.000000,8608.000000,69.000000,8.000000,7783.000000,24.100000,79.700000,0.950000,2897.750000,13.700000
7,max,330.000000,75.000000,1350.000000,1.000000,185.000000,11500.000000,80.000000,8.500000,8200.000000,25.000000,95.000000,0.950000,3200.000000,22.000000